body{
    display: grid; /**/ 
    grid-template-areas: /**/ 
    " cabeca cabeca sec"/**/
    " princi princi princi"/**/ 
    " rod rod rod";/**/ 
    grid-template-columns: auto auto auto ;/**/ 
    grid-template-rows: auto auto auto;/**/ 
}
.grid_h{ /**/ 
    grid-area: cabeca;  
    background-color: #333;
    background-image: linear-gradient(135deg, #333, #383232);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}
section{
  display: none;
}
.grid_m{ /**/ 
    grid-area: princi;
    background-color: #fff;
    background-image: linear-gradient(135deg, #333, #c0c0c0, #333);
    color: #333;
    font-size: 19px;
}
.grid_f{ /**/ 
    grid-area: rod;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  
}
.verde{
    color: green;
}
.vermelho{
    color: red;
}
form{
    max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2374a7;
  }
  h1, h2, h3 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
  /* Adicione imagens responsivas */
  .img_ {
    width: 200px;
  }
  @media only screen and (max-width: 445px) { /* Estilos aplicados quando a largura da tela é no máximo 779 pixels */
    body{ /* Modifica a estrutura do grid e o estilo do corpo da página */
        grid-template-areas: /* Define o layout do grid com uma única coluna e várias linhas */
        "sec"
        "princi"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .grid_h{ /* Esconde o elemento com classe .grid_h (cabeçalho) */
      display: none;
  }
  section{
    grid-area: sec;
    background-color: #333;
    background-image: linear-gradient(135deg, #333, #383232);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
}
  }
  @media only screen and (max-width: 768px) { /* Estilos aplicados quando a largura da tela é no máximo 779 pixels */
    body{ /* Modifica a estrutura do grid e o estilo do corpo da página */
        grid-template-areas: /* Define o layout do grid com uma única coluna e várias linhas */
        "sec"
        "princi"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .grid_h{ /* Esconde o elemento com classe .grid_h (cabeçalho) */
      display: none;
  }
  section{
    grid-area: sec;
    background-color: #333;
    background-image: linear-gradient(135deg, #333, #383232);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    font-size: 18px;
}
  }
  nav {
    background-color: #444;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }