body{
    display: grid; /**/ 
    grid-template-areas: /**/ 
    "cabeca cabeca cabeca"/**/ 
    "esquer princi princi"/**/ 
    "rod rod rod";/**/ 
    grid-template-columns: auto auto auto ;/**/ 
    grid-template-rows: auto auto auto;/**/ 
}
.grid_h{ /**/ 
    grid-area: cabeca;  
    padding-left: 40px;
    border: black 2px solid;
    background-color: #23282b;
}
.logo{ /**/ 
    width: 30px;
}
.grid_m{ /**/ 
    grid-area: princi;
    background-color: #23282b;
    color: whitesmoke;
}
.grid_f{ /**/ 
    grid-area: rod;
    border: black 2px solid;
    background-color: #23282b;
}
.grid_a{ /**/ 
    grid-area: esquer;
    display: flex;
    border: black 2px solid;
    background-color: #23282b;
}